*
{ 
    padding: 0;
    margin: 0;
}

header
{
    text-align: justify;
    letter-spacing: 1px;
    height: 8em;
    padding: 2em 10%;
    background: #4a4a4a;
    color: #009d8b;
}

header h1,
header nav
{
    display: inline-block;
}

header::after
{
    content: '';
    display: inline-block;
    width: 100%;
}

header h1
{
    height: 100%;
}
 
header h1::before
{
    content: '';
    display: inline-block;
    vertical-align: middle;  
    height: 100%;
}

@media screen and (max-width: 820px){

    header
    {
        height: auto;
    }
    header h1
    {
        margin-bottom: 15px;
    }
    header h1,
    header nav {
        height: auto;
        width: auto;
        display: block;
        text-align: center;
    }

}

